bin
build
dist
include
lib
venv
.tox
.coverage
*.pyc
*.swp
*.egg-info
*.egg/*
*.eggs/*

# Database files
*.sqlite3
*.db

# IntelliJ
.idea
*.iml

examples/settings.py
examples/ubuntu_dialogs*
.env
.out

# ignore Ubuntu corpus files
data
