bin
build
dist
include
lib
venv
*.pyc
*.swp
*.egg-info
*.egg/*
*.eggs/*

# Database files
*.sqlite3
*.db

# Sphinx docs
docs/_build/

# IntelliJ
.idea
*.iml

examples/settings.py
examples/ubuntu_dialogs*
.env
.out
venv*
