language: python
cache: pip

python:
  - '2.7'
  - '3.6'

os:
  - linux
  - windows

services:
  - mongodb

install:
  - pip install tox coveralls codeclimate-test-reporter

addons:
    code_climate:
        repo_token: 3ec30a156224df0f59620967241d9659086e918fd824f4f69b8ce7b55b5a590f

script:
  - tox

after_success:
  - coveralls
