coveralls
flake8
nltk>=3.2,<4.0
nose
pint>=0.8.1
pymongo>=3.3,<4.0
twine
twython
spacy>=2.1,<2.2
sphinx>=3.0,<3.1
sphinx_rtd_theme
pyyaml>=5.3,<5.4
git+git://github.com/gunthercox/chatterbot-corpus@master#egg=chatterbot_corpus
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.1.0/de_core_news_sm-2.1.0.tar.gz#egg=de_core_news_sm