include license.md
include readme.md
include requirements.txt

recursive-include chatterbot/corpus/* *.json
recursive-include chatterbot/adapters/* *.json

recursive-exclude * *.pyc
recursive-exclude * *.py~
