include license.md
include readme.md
include requirements.txt

recursive-include chatterbot/corpus/* *.json
recursive-include chatterbot/corpus/* *.data
recursive-include chatterbot/corpus/* *.csv

recursive-exclude * *.pyc
recursive-exclude * *.py~
